<mat-nav-list>
  <!-- Logo -->
  <div class="logo">
    <p>Church of Philippi</p>
  </div>
  <mat-divider> </mat-divider>

  <!-- list item, router links to page -->
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon> Home
  </a>

  <div
    class="container"
    id="student-nav"
    *ngIf="userType == 'student' || userType == 'debug'"
  >
    <!-- Student Navbar  -->
    <a mat-list-item routerLink="/schedule" routerLinkActive="list-item-active">
      <mat-icon>class</mat-icon> Schedule
    </a>
    <a
      mat-list-item
      routerLink="/enrollclass"
      routerLinkActive="list-item-active"
    >
      <mat-icon>class</mat-icon> Enroll Class
    </a>
    <a
      mat-list-item
      routerLink="/viewgrades"
      routerLinkActive="list-item-active"
    >
      <mat-icon>class</mat-icon> View Grades
    </a>
  </div>

  <div
    class="container"
    id="instructor-nav"
    *ngIf="userType == 'instructor' || userType == 'debug'"
  >
    <!-- Instructor Navbar -->
    <a
      mat-list-item
      routerLink="/managestudents"
      routerLinkActive="list-item-active"
    >
      <mat-icon>edit</mat-icon> Manage Students
    </a>
    <a
      mat-list-item
      routerLink="/viewclass"
      routerLinkActive="list-item-active"
    >
      <mat-icon>edit</mat-icon> View Class
    </a>
  </div>

  <div
    class="container"
    id="admin-nav"
    *ngIf="userType == 'admin' || userType == 'debug'"
  >
    <!-- Admin Navbar -->
    <a
      mat-list-item
      routerLink="/managecourse"
      routerLinkActive="list-item-active"
    >
      <mat-icon>edit</mat-icon> Manage Courses
    </a>
    <a
      mat-list-item
      routerLink="/manageclasses"
      routerLinkActive="list-item-active"
    >
      <mat-icon>edit</mat-icon> Manage Classes
    </a>
    <a
      mat-list-item
      routerLink="/managesemester"
      routerLinkActive="list-item-active"
    >
      <mat-icon>edit</mat-icon> Manage Semester
    </a>
    <a
      mat-list-item
      routerLink="/managestudents"
      routerLinkActive="list-item-active"
    >
      <mat-icon>edit</mat-icon> Manage Students
    </a>

    <!-- Teacher Navbar (includes manage students) -->
    <a
      mat-list-item
      routerLink="/viewclass"
      routerLinkActive="list-item-active"
    >
      <mat-icon>edit</mat-icon> View Class
    </a>
  </div>
</mat-nav-list>
