.demo-table {
    margin: auto;
    width: 95%;
  }

.ng-container {
    width: 32px;
    text-align: center;
    font-weight: bold;
}

.mat-column-description {
    
    
    .button {
        margin-right: 0;
    }
}
