/* You can add global styles to this file, and also import other style files */

/* set up color pallete 
    copy and paste this into other SCSS files to use them outside of this context */
$primary-color: #000;
$secondary-color: #000;
$tertiary-color: #000;
$quaternary-color: #000;
