
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$classmgmt-frontend-primary: mat.define-palette(mat.$indigo-palette);
$classmgmt-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$classmgmt-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$classmgmt-frontend-theme: mat.define-light-theme((
  color: (
    primary: $classmgmt-frontend-primary,
    accent: $classmgmt-frontend-accent,
    warn: $classmgmt-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($classmgmt-frontend-theme);

/* You can add global styles to this file, and also import other style files */

/* set up color pallete 
    copy and paste this into other SCSS files to use them outside of this context */
$primary-color: #000;
$secondary-color: #000;
$tertiary-color: #000;
$quaternary-color: #000;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.welcome {
  font-size: 32px;
  padding: 10px;
  max-width: 75%;
  max-height: 75%;
  
  margin: auto;
  background-color: rgb(229, 106, 46);
  
  border-radius: 2.5%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
